*   {
    padding: 0%;
    margin: 0%;
}

/* Header section */

.header-section {
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text  {
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 110px;
}
.h1-header  {
    font-family: 'Merriweather', serif;
    font-size: 45px;
    margin-bottom: 40px;
}
.text-color {
    color: red;
}
.p-header   {
    font-size: 28px;
    margin-bottom: 70px;
}
.link-button {
    text-decoration: none;
    background-image: radial-gradient(blue, tomato);
    box-shadow: 3px 5px #8888887e;
    padding: 18px 40px; 
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

/* Hero Section */

.hero-content   {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 110px;
}
.h1-hero   {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.p-hero {
    width: 800px;
    font-size: 16px;
    padding-left: 290px;
    padding-bottom: 50px;
}
.li-hero  {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    padding: 0 250px;
    padding-bottom: 70px;
    font-size: 22px;
    font-weight: 700;
}
.li-border  {
    border: 1px solid red;
    padding: 20px 10px;
}
.li-border-none {
    border: 1px solid white;
    padding: 20px 10px;
}
.input-hero {
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 10px;
}
.link-button-hero   {
    margin-top: 30px;
}
.link-hero  {
    text-decoration: none;
    border
}
